*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color:cadetblue;

}
.cont{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    
}
h1{
    color: whitesmoke;
    width: 100%;
    text-align: center;
    border-bottom: 3px solid white ;
    font-weight: bold;
    letter-spacing: .2rcap;
    padding-bottom: 1rem;
}

.calculator{
    width: 100%;
    min-height: 80vh;
    background-color: whitesmoke;
    display: grid;
    max-width: 480px;
    grid-template-columns: repeat(4,1fr); 
    padding: 25px;
    gap: 1rem;
    border: none;
    border-radius: 1rem;
}
.output{
    background-color: cadetblue;
    grid-column: span 4;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    
    padding: 1rem;
    border-radius: .5rem;
    word-break: break-all;
    word-wrap: break-word;
}
button{
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    background: cadetblue;
    box-shadow: 0 0 8px #999999;
    border-radius: .5rem;
    cursor: pointer;
    transition: all .2s ease;
}


button:hover{
    background: darkcyan;
}
.span_col{
    grid-column: span 2;
}

